.homePageTitle {
    margin-top: 0px;
    font-size: 60px;
    padding-top: 25px;
    padding-bottom: 50px;
    text-align: center;
}

.searchTitle {
    text-align: center;
}

.moreInfoOnSearch {
    --background: aqua;
    color: black;
}

.foodListShow {
    display: none;
}

.main2 {
    background-color: black;
}

.test {
    background-color: purple;
}

.search {
    margin: 0px;
    margin-left: 30%;
    width: 40%;
    text-align: left;
    align-items: center;
    background: white;
    height: 44px;
    border-radius: 8px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-width: 0px;
    display: inline-block;
    color: black;
    margin-right: 0px;
    padding: 0px;
    padding-left: 10px;
    font-size: 20px;
    margin-bottom: 40px;
}

.search:focus {
    outline: none;
}

.searchButton {
    margin: 0px;
    width: 15%;
    text-align: center;
    align-items: center;
    height: 44px;
    border-radius: 8px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-width: 0px;
    display: inline-block;
    color: black;
    margin-right: 0px;
    padding: 0px;
    padding-left: 10px;
    font-size: 20px;
}

.searchBar{
    width: 100px;
    text-align: left;
    align-items: center;
    background: purple;
}

.hello {
    background-color: purple;
    padding: 12px;
}

.foodReturn {
    font-size: 30px;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.foodReturn h1 {
    font-size: 80px;
    font-family: fantasy;
}

.learnMore {
    text-align: center;
    align-items: center;
}

/************************************* Create New User Page ***********************************/

.createUserPage {
    margin: 0px;
    padding: 0px;
    background-color: #5CDB95;
    height: 100%;
}

.createUserH3 {
    margin: 0px;
    padding: 40px;
    text-align: center;
    font-family: bold, Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.createUserInput {
    margin: 0px;
    margin-left: 30%;
    width: 40%;
    text-align: left;
    align-items: center;
    background: white;
    height: 44px;
    border-radius: 8px;
    border-width: 0px;
    display: inline-block;
    color: black;
    margin-right: 0px;
    padding: 0px;
    padding-left: 10px;
    font-size: 20px;
    margin-bottom: 40px;
}

.createUserInput:focus {
    outline: none;
}

.createUserButtonDiv {
    text-align: center;

}

.createUserButton {
        margin: 0px;
        width: 15%;
        text-align: center;
        align-items: center;
        height: 44px;
        border-radius: 8px;
        border-width: 0px;
        display: inline-block;
        color: black;
        margin-right: 0px;
        padding: 0px;
        padding-left: 10px;
        font-size: 20px;
}

.Disabled {
    margin: 0px;
    width: 15%;
    text-align: center;
    align-items: center;
    height: 44px;
    border-radius: 8px;
    border-width: 0px;
    display: inline-block;
    color: black;
    margin-right: 0px;
    padding: 0px;
    padding-left: 10px;
    font-size: 20px;
    pointer-events: none;
}

.noMatch {
    display: inline-block;
    color: #ff0033 ;
    font-size: 24px;
    margin: 0px;
    padding: 0px;
    margin-left: 30%;
}

.Match {
    display: none;
}

/************************************* Login User Page ***********************************/


