:root {
    --ion-background-color: #fff44f;
}

.homePageTitle {
    font-size: 60px;
    padding-top: 25px;
    text-align: center;
}

.searchTitle {
    text-align: center;
}

.moreInfoOnSearch {
    --background: aqua;
    color: black;
}

.foodListShow {

    display: none;
}
